<nav class="navbar | has-background-dark " role="navigation" aria-label="main navigation">
  <%= link_to 'SM friends', root_path, class:"navbar-item | subtitle has-text-weight-bold is-uppercase | has-text-warning | mb-0"  %>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= menu_link_to 'Timeline', posts_path%>
      <%= menu_link_to 'All users', users_path %>
    </div>
    <div class="navbar-end">
      <%= user_menu %>
    </div>
  </div>
</nav>